.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.jumbotron{
    background-image: url('../images/wax_mold_ready_for_plaster.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.nav{
    background-image: url('../images/wax_mold_ready_for_plaster.jpg');
}

#header{
    color: rgba(248,248,255, 0.5);
}